<div class="book-box">
  <div class="title">
    {{ bookInfo ? bookInfo.title : "" }}
  </div>
  <div class="cover">
    <img
      style="width: 128px; height: 184px"
      src="{{ bookInfo ? bookInfo.cover : '' }}"
    />
  </div>
  <!-- <div class="rate">{{ bookInfo.rate }} estrelas</div> -->
  <span class="star-span">
    <div *ngFor="let star of stars">
      <span *ngIf="star" class="sel star">★</span>
      <span *ngIf="!star" class="unsel star">★</span>
    </div>
  </span>

  <!-- <span class="rate-span">
    <div class="rate">
      <input
        [(ngModel)]="bookInfo.rate"
        type="radio"
        id="star5"
        formControlName="rate"
        value="5"
      />
      <label for="star5" title="text">5 stars</label>
      <input
        [(ngModel)]="bookInfo.rate"
        type="radio"
        id="star4"
        formControlName="rate"
        value="4"
      />
      <label for="star4" title="text">4 stars</label>
      <input
        [(ngModel)]="bookInfo.rate"
        type="radio"
        id="star3"
        formControlName="rate"
        value="3"
      />
      <label for="star3" title="text">3 stars</label>
      <input
        [(ngModel)]="bookInfo.rate"
        type="radio"
        id="star2"
        formControlName="rate"
        value="2"
      />
      <label for="star2" title="text">2 stars</label>
      <input
        [(ngModel)]="bookInfo.rate"
        type="radio"
        id="star1"
        formControlName="rate"
        value="1"
      />
      <label for="star1" title="text">1 star</label>
    </div>
  </span> -->
</div>
