.search-input {
  font-weight: 500;
  color: aqua;
}
.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search-type-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-option-span {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  border: 1px solid black;
  border-radius: 4px;
}
