.search-input {
  font-weight: 500;
  color: aqua;
}
.top-bar {
  display: flex;
  justify-content: center;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  border: 1px solid black;
  border-radius: 4px;
}
