<form class="search-form">
  <mat-form-field style="width: 100%">
    <input
      class="search-input"
      type="text"
      placeholder="Pesquisar livro"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="openDialog($event.option.value)"
    >
      @for (book of filteredBooks | async; track book.id) {
      <mat-option class="option" [value]="book.title">{{
        book.title
      }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <div class="search-type-div">
    Buscar por:
    <span class="search-option-span">
      <input
        style="margin: 0"
        type="radio"
        id="title"
        name="search-type"
        value="title"
        checked
        [formControl]="typeControl"
      />
      <label for="title">Título</label><br />
    </span>
    <span class="search-option-span">
      <input
        style="margin: 0"
        type="radio"
        id="author"
        name="search-type"
        value="author"
        [formControl]="typeControl"
      />
      <label for="author">Autor</label><br />
    </span>
  </div>
</form>
