.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }
input {
border: 1px yellow;
padding: 10px;
border-radius: 8px;
margin-right: 4px;
display: inline-block;
width: 30%;
}
button {
padding: 10px;
border: solid 1px var(--primary-color);
background: var(--primary-color);
color: #5D2E8C;
border-radius: 8px;
}
@media (min-width: 500px) and (max-width: 768px) {
.results {
    grid-template-columns: repeat(2, 1fr);
}
input[type="text"] {
    width: 70%;
}   
}
@media (max-width: 499px) {
.results {
    grid-template-columns: 1fr;
}    
}
.search-bar {
    border: 1px solid #5D2E8C;
    border-radius: 5px;
    outline: none;
}
.top-bar {
    height: 100px;
    width: 100vw;
    background-color: #5D2E8C;
    display: flex;
    justify-content: center ;
}
.search-bar2 {
    background-color: #5D2E8C;
    color: white;
    outline: none;
    font-size: x-large;
    width: 90%;
}
.search-bar2::placeholder {
    color: wheat    ;
}
.search-button {
    width: 10%;
    color: white;
}