<style>
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
  }

  .content {
    padding: 10px;
    height: 100%;
    width: 100vw - 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<main class="main">
  <div
    style="
      width: 100%;
      padding: 35px;
      box-sizing: border-box;
      background-color: var(--coco-red);
      text-align: center;
      margin-bottom: 10px;
      color: var(--coco-yellow);
    "
  >
    <h1 style="color: var(--coco-yellow2); font-weight: 900" class="app-title">
      LIVRARIA COCO BAMBU
    </h1>
  </div>
  <div class="content">
    <div style="width: 300px">
      <app-search-bar></app-search-bar>
    </div>
    <div
      style="
        width: fit-content;
        margin-top: 10px;
        height: fit-content;
        top: auto;
      "
    >
      <app-book-grid></app-book-grid>
    </div>
  </div>
</main>
<router-outlet />
