:root {
  --coco-yellow: rgb(206, 172, 99);
  --coco-white: rgb(229, 228, 227);
  --coco-red: rgb(68, 24, 13);
  --coco-grey: rgb(105, 103, 102);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

* {
  font-family: "Ubuntu", sans-serif;
}
